{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock head %}
{% block title %}List Post{% endblock %}

{% block content %}
<h1 class="title" style="color: rgb(4, 39, 4); text-align: center; margin: 3rem 0;">List Post</h1>
    <div>
        {% for post in post_list %}
            <div class="post-container">
                <a href="{% url 'detail' post.id %}">
                    <div class="post-title-container">
                        <h2>{{ post.title }}</h2>
                        <p class="author"><span class="highlight">Posted -</span> {{post.author}}</p>
                    </div>
                    <p>{{ post.subtitle }}</p>
                    <p>{{post.body|slice:':128'}}</p>
                    <small><b>Created On: </b>{{ post.created_on }}</small>
                    {% if user.is_authenticated %}
                        {% if user == post.author %}
                            <a href="{% url 'edit' post.id %}" class="btn btn-outline-primary">Edit</a>
                            <a href="{% url 'delete' post.id %}" class="btn btn-outline-danger">Delete</a>
                        {% endif %}
                    {% endif %}
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock content%}